<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- ここを追加 -->
<div><%= f.label :name %><br />
<%= f.text_field :name, size: 40 %>
</div>

<div><%= f.label :address %><br />
<%= f.text_area :address, rows: 3, cols: 40 %>
</div>

<div><%= f.label :email %><br />
<%= f.email_field :email, size: 40 %>
</div>

<div><%= f.label :pay_type %><br />
<%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: "押し腹方法を選択してください" %>
</div>
<!-- 追加ここまで -->

  <div class="actions">
    <%= f.submit "注文する" %>
  </div>
<% end %>
